numpy>=1.23.4,<2.0.0  # Optimal for TensorFlow 2.15.0 and Apache Beam 2.43.0
ipython==7.30.1
tensorflow==2.15.0
tensorflow-datasets==4.9.3
tensorflow-addons==0.23.0
absl-py>=1.0.0
gin-config==0.5.0
parameterized==0.8.1
mediapy==1.0.3
scikit-image==0.19.1
apache-beam>=2.45.0
google-cloud-bigquery-storage==1.1.0
natsort==8.1.0
gdown==4.5.4
tqdm==4.64.1

# Docker base image: `gcr.io/deeplearning-platform-release/tf2-gpu.2-6:latest`
# tensorflow==2.15.0
# tensorflow-datasets==4.9.3
# tensorflow-addons==0.23.0
# absl-py>=1.0.0
# gin-config==0.5.0
# parameterized==0.8.1
# mediapy==1.0.3
# scikit-image==0.19.1
# apache-beam==2.43.0
# google-cloud-bigquery-storage==1.1.0 # Suppresses a harmless error from beam
# natsort==8.1.0
# gdown==4.5.4
# tqdm==4.64.1

# FROM COG HIDDEN FILE
# ipython==7.30.1
# tensorflow==2.13.0
# tensorflow-datasets==4.4.0
# tensorflow-addons==0.23.0
# absl-py>=1.0.0
# gin-config==0.5.0
# parameterized==0.8.1
# mediapy==1.0.3
# scikit-image==0.19.1
# apache-beam==2.43.0

# RUN pip install tensorflow==2.15.0
# RUN pip install tensorflow-datasets==4.9.3
# RUN pip install tensorflow-addons==0.23.0
# RUN pip install absl-py>=1.0.0
# RUN pip install gin-config==0.5.0
# RUN pip install parameterized==0.8.1
# RUN pip install mediapy==1.0.3
# RUN pip install scikit-image==0.19.1
# RUN pip install apache-beam==2.43.0
# RUN pip install google-cloud-bigquery-storage==1.1.0
# RUN pip install natsort==8.1.0
# RUN pip install gdown==4.5.4
# RUN pip install tqdm==4.64.1numpy
